body {
    margin: 0; 
    padding: 0; 
    border: #c8cfdc solid 50px; 
}

header{
    width: 100%; 
    height: 90px; 
    
    background-color: white; 
    
    position: relative; 
}

@fontface{
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-size: 17px; 
    font-weight: bold; 
    
    font-family: 'Roboto Condensed'; 
}


h1 {
    font-size: 24px; 
    font-weight: bold; 
    
    font-family: 'Roboto Condensed'; 
}


/*header*/

#logo{
    top: 20px; 
    left: 20px; 
    position: absolute; 
}

#menu{
    list-style: none;
    margin: 0;
    margin-left: 79px;
    float: left;
}

#menu li {
    display: inline-block;
    
    font-size: 10px;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    
    margin-top: 40px; 
    margin-bottom: 40px; 
    
    padding-right: 40px;
}

#menu li a {
    text-decoration: none;
    color: black; 
}

#menu li a:hover {
    text-decoration: none;
    color: #0089cf;
    border-bottom: 4px solid #0089cf; 
    padding-bottom: 36px; 
    
}

#menu-right {
    list-style: none;
    float: right; 
    margin: 0; 
    
    position: relative; 
}

#menu-right li {
    display: inline-block;
    
    font-size: 10px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    
    margin-top: 40px; 
    margin-bottom: 40px; 
    
    padding-right: 40px;
}

#menu-right li a {
    text-decoration: none;
    color: black;   
    margin-left: 30px; 
}

#menu-right li a:hover {
    text-decoration: none;
    color: #0089cf; 
}

.item{
    top: 38px;
    position: absolute; 
    
    margin-right: 40px; 
}

#number-cart{
    color: #0089cf;
}

/*BLOC 1*/

#product{
    width: 100%; 
    height: 610px; 
    
    background-color: white; 
}

#choose1 {
    margin-top: 5.8%; 
    margin-left: 8.8%;
    width: 635px; 
    
}

#article{
    width: 260px; 
    height: 405px;
    
    float: right; 
    
    margin-right: 130px; 
}

#heart {
    padding: 17px; 
    border: solid 1px #e4e4e4; 
    
    margin-bottom: 1.6%; 
}

#brand {
    margin-bottom: 0.6%;  
}




