body {
    margin: 0; 
    padding: 0; 
    border: #c8cfdc solid 50px; 
}

header{
    width: 100%; 
    height: 90px; 
    
    background-color: white; 
    
    position: relative; 
}

@fontface{
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-size: 17px; 
    font-weight: bold; 
    
    font-family: 'Roboto Condensed'; 
}


h1 {
    font-size: 24px; 
    font-weight: bold; 
    
    font-family: 'Roboto Condensed'; 
}

p{    
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
}


/*header*/

#logo{
    top: 20px; 
    left: 20px; 
    position: absolute; 
}

#menu{
    list-style: none;
    margin: 0;
    margin-left: 79px;
    float: left;
}

#menu li {
    display: inline-block;
    
    font-size: 10px;
    font-weight: bold;
    font-family: 'Roboto Condensed';
    
    margin-top: 40px; 
    margin-bottom: 40px; 
    
    padding-right: 40px;
}

#menu li a {
    text-decoration: none;
    color: black; 
}

#menu li a:hover {
    text-decoration: none;
    color: #0089cf;
    border-bottom: 4px solid #0089cf; 
    padding-bottom: 36px; 
    
}

#menu-right {
    list-style: none;
    float: right; 
    margin: 0; 
    
    position: relative; 
}

#menu-right li {
    display: inline-block;
    
    font-size: 10px;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    
    margin-top: 40px; 
    margin-bottom: 40px; 
    
    padding-right: 40px;
}

#menu-right li a {
    text-decoration: none;
    color: black;   
    margin-left: 30px; 
}

#menu-right li a:hover {
    text-decoration: none;
    color: #0089cf; 
}

.item{
    top: 38px;
    position: absolute; 
    
    margin-right: 40px; 
}

#number-cart{
    color: #0089cf;
}

/*BLOC 1*/

#product{
    width: 100%; 
    height: 610px; 
     
    background-color: white; 
}

#choose1 {
    margin-top: 5.8%; 
    margin-left: 8.8%;
    width: 635px; 
    margin-top: 110px;
    
}

#article{
    width: 260px; 
    height: 405px;
    
    float: right; 
    
    margin-right: 130px; 
    margin-top: 58px;
}

#heart {
    padding: 17px; 
    border: solid 1px #e4e4e4; 
    
    margin-bottom: 1.6%; 
}

.little.choose{
    float: left; 
    width: 80px; 
    margin-right: 10px; 
}

    /*text-bloc1*/
#brand {
    margin-bottom: 0.6%;  
}

#price {
    color: #666666;  
}

#color{
    color: #666666; 
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px; 
}

#color span{
    color: #0089cf;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 10px; 
}

#size-text {
    font-size: 9px; 
    color: #989898; 
    font-family: 'Roboto Condensed', sans-serif;
}

    /*SIZE*/

.skin {
    width: 125px; 
    height: 50px; 
    
    background-color: white; 
    border: solid 1px #e4e4e4 0px; 
    float: left; 
    
    color: #666666;
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 10px; 
}


#add {
    background-color: #333333; 
    
    width: 125px; 
    height: 50px; 
    
    color: white; 
    font-family: 'Roboto Condensed', sans-serif;
    border: none; 
    font-size: 10px; 
    
    margin-left: 10px; 
}

/*BLOC 2*/

#description {
    height: 660px; 
    width: 100%; 
    
    background-image: url(PICTURES/nike-bloc2.png); 
    background-repeat: no-repeat;
    background-size: 100%; 
    position: relative; 
    
}

#text-description{
    width: 28%;
    height: 5%; 
    
    position: absolute; 
    top: 50%; 
    transform: translateY(-50%);
    margin-left: 3.8%;
}

#title-description {
    color: white; 
    margin: 0; 
}

#nike-description {
    margin-top: 30px; 
    color: white;
    line-height: 17px;
    font-weight: lighter;
}

